body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#showcase {
    width: 100%;
    height: 100vh;
    background: linear-gradient(181deg, #184d70, #96866f);
    background-size: 400% 400%;
    box-sizing: border-box;
    -webkit-animation: bgAnimation 30s ease infinite;
    -moz-animation: bgAnimation 30s ease infinite;
    animation: bgAnimation 30s ease infinite;
}

#showcase h1 {
    padding: 40px;
    color: #ffd89b;
    opacity: .9;
    letter-spacing: .3em;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 56px;
}

#showcase p {
    color: #ffd89b;
    font-size: 24px;
    opacity: .9;
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    font-weight: 200;
}

#showcase .button-icon {
    color: #fff;
    background: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    margin-top: 30px;
}

#showcase .white-text {
    color: #fff;
    opacity: 1;
}

#showcase .button-icon a:hover {
    transition: .5s;
    color: #ffd89b;
}

.icons {
    margin-top: 50px;
}

#button {
    font-size: 46px;
}

.icons a {
    padding: 0 1em 0 1em;
    font-size: 24px;
    color: #fff;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.icons a:hover {
    transition: .5s;
    color: #ffd89b !important;
    text-decoration: none !important;
}

.icons hr {
    margin-top: 50px;
    background-color: #fff;
}

.icons hr:hover {
    transition: .3s;
    background: #ffd89b !important;
}

.section-about,
.section-portfolio,
.section-contact {
    border: 1px solid #000;
    padding: 3em;
}

.section-about h3 {
    margin-bottom: 25px;
}

.section-portfolio h3 {
    margin-bottom: 25px;
}

.section-contact h3 {
    margin-bottom: 25px;
}

.photos {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 10px;
    height: 300px;
}

.photo {
    transition: .5s;
    border: .5px solid black;
    -webkit-box-shadow: 4px 3px 19px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 3px 19px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 3px 19px 1px rgba(0, 0, 0, 0.75);
}

.photo p {
    color: #fff;
    padding-top: 3em;
    display: none;
}

.photo a {
    display: none;
    margin: auto;
    width: 100px;
    border: .5px solid #000;
}

.section-contact button {
    margin: auto;
    display: block;
}

.section-contact button a {
    color: #fff;
    text-decoration: none;
}

.section-contact button a:hover {
    transition: .5s;
    padding: 1em;
}

.section-contact a {
    color: #000000;
}

.social-media {
    text-align: center;
}

.social-media i {
    padding: .5em;
}

.social-media i:hover {
    transition: .3s;
    color: #333;
}

footer {
    padding: 3em;
}

/* Images */

footer img {
    display: block;
    margin: auto;
    padding: 1em;
}

.image1 {
    width: 100%;
    height: 400px;
    background: url('../img/img1.jpg');
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;
}

.image2 {
    width: 100%;
    height: 400px;
    background: url('../img/img2.jpg');
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;
}

.image3 {
    width: 100%;
    height: 400px;
    background: url('../img/img3.jpg');
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;
}

#photo1 {
    background-image: url('../img/p1.png');
    background-size: cover;
}

#photo2 {
    background-image: url('../img/p2.png');
    background-size: cover;
}

#photo3 {
    background-image: url('../img/p3.png');
    background-size: cover;
}

#photo4 {
    background-image: url('../img/p4.png');
    background-size: cover;
}


/* Animations */

@-webkit-keyframes bgAnimation {
    0% {
        background-position: 75% 0%
    }
    50% {
        background-position: 26% 100%
    }
    100% {
        background-position: 75% 0%
    }
}

@-moz-keyframes bgAnimation {
    0% {
        background-position: 75% 0%
    }
    50% {
        background-position: 26% 100%
    }
    100% {
        background-position: 75% 0%
    }
}

@keyframes bgAnimation {
    0% {
        background-position: 75% 0%
    }
    50% {
        background-position: 26% 100%
    }
    100% {
        background-position: 75% 0%
    }
}

@-webkit-keyframes sectionAnimation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes sectionAnimation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes sectionAnimation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

/* Media Queries */

@media (max-height: 940px) {
    .hide {
        display: none;
    }
}

@media (max-width: 1200px) {
    #button {
        font-size: 42px;
    }
    #showcase .button-icon {
        margin-top: 20px;
    }
    #showcase .white-text {
        font-size: 22px;
    }
    #showcase p {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 1000px) {
    .icons {
        margin-top: 30px;
    }
    #showcase h1 {
        letter-spacing: .1em;
        padding: 1.5em;
    }
}

@media (max-width: 768px) {
    .icons a {
        padding: 0 5px 0 5px;
        font-size: 20px;
        margin-top: 75px;
    }
    .icons hr {
        margin-top: 10px;
    }
    #button {
        font-size: 42px;
    }
    #showcase .button-icon {
        margin-top: 75px;
    }
    #showcase .white-text {
        margin-top: 10px;
        font-size: 24px;
    }
    .social-media a, .social-media i {
        font-size: 45px;
    }
    .photos {
        grid-template-columns: 1fr;
    } 
    #showcase h1 {
        letter-spacing: 3px;
        padding: .5em;
        font-size: 42px;
    }
    #showcase p {
        font-size: 22px;
    }
}